<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/head :: header">
    <meta charset="UTF-8">
    <title>Create a post</title>

</head>
<body>

<nav th:insert="partials/navbar :: navbar"></nav>
<div class="form-group">
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        <label for="title">Title</label>
        <input class="form-control" id="title" name="title" placeholder="Title" th:field="*{title}" type="text">
        <label for="body">Body</label>
        <textarea class="form-control" id="body" name="body" rows="3" th:field="*{body}"></textarea>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
</body>
</html>