<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/head :: header">
  <meta charset="UTF-8">
  <title>Edit post</title>
</head>

<body>

<nav th:insert="partials/navbar :: navbar"></nav>

<h1>Edit Post</h1>
<form th:action="@{/posts/edit}" th:method="POST" th:object="${post}">
  <label for="title">Title</label>
  <input class="form-control" id="title" name="title" placeholder="Title" th:field="*{title}" type="text">
  <label for="body">Body</label>
  <textarea class="form-control" id="body" name="body" rows="3" th:field="*{body}"></textarea>
  <input class="form-control" id="id" name="id" placeholder="Id" th:field="*{id}" type="text">
  <input class="btn btn-block btn-primary" type="submit" value="Update post"/>
</form>

</body>
</html>