<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/head :: header">
    <meta charset="UTF-8">
    <title>Dicey</title>

</head>
<body class="container-fluid">
<nav th:insert="partials/navbar :: navbar"></nav>
<h1 class="text-primary d-flex justify-content-center">Welcome to Dicey</h1>
<h2 class="text-primary d-flex justify-content-center">Care to try your luck?</h2>
<div class="d-flex justify-content-center m-3 p-3">
    <a class="text-warning m-1" href="/roll-dice/1">Guess number 1 </a>
    <a class="text-warning m-1" href="/roll-dice/2">Guess number 2 </a>
    <a class="text-warning m-1" href="/roll-dice/3">Guess number 3 </a>
    <a class="text-warning m-1" href="/roll-dice/4">Guess number 4 </a>
    <a class="text-warning m-1" href="/roll-dice/5">Guess number 5 </a>
    <a class="text-warning m-1" href="/roll-dice/6">Guess number 6 </a>
</div>
<h2 class="text-primary d-flex justify-content-center">Your Guess was: <span th:text="${guess}"></span></h2>
<h2 class="text-primary d-flex justify-content-center">The Dice Rolled: <span th:text="${dice}"></span></h2>
<h2 class="text-primary d-flex justify-content-center" th:text="${result}"></h2>
</body>
</html>